# Configurações do PostgreSQL
POSTGRES_HOST=nome-do-servico-db
POSTGRES_PORT=5432
POSTGRES_DB=nome_do_banco
POSTGRES_USER=usuario_do_banco
POSTGRES_PASSWORD=sua_senha_segura

# Configurações do Cloudflare R2
R2_BUCKET=meu-bucket-de-backups
R2_ENDPOINT=https://<ACCOUNT_ID>.r2.cloudflarestorage.com
R2_ACCESS_KEY=seu_access_key_aqui
R2_SECRET_KEY=seu_secret_key_aqui

# Configurações de Fuso Horário (Opcional, padrão no Dockerfile é America/Recife)
TZ=America/Recife
